{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<style>


</style>

{% endblock css %}
{% block content %}
<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">CAPACITACIÓN Y CERTIFICACIÓN NDT-AWS</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">CAPACITACIÓN Y CERTIFICACIÓN NDT-AWS</p>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Blog Start -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div class="pb-3">
                <div class="position-relative">
                    <img class="img-fluid w-100" src="{% static 'img/Capacitacion y certificacion/C1.png' %}" alt="">

                </div>
                <div class="bg-secondary mb-3" style="padding: 30px;">

                    <h4 class="font-weight-bold mb-3">CAPACITACIÓN Y CERTIFICACIÓN NDT-AWS</h4>
                    <p>
                        GHM Ingenieros & Servicios Industriales S.A.C, brinda el programa de capacitación personalizado el cual se puede diseñar y organizar según los requisitos específicos de los clientes. Si necesita ayuda para maximizar la producción de calidad, reducir la crisis y reducir el costo principal de producción, lo alentamos a que se someta a nuestros programas de capacitación. 
                    </p>
                    <p>
                        Con una metodología flexible, nuestra capacitación está dirigida a quienes desean incrementar, mejorar o reforzar conocimientos en Ensayos No Destructivos (NDT) e Inspectores de Soldadura Calificados (CWI).
                    </p>
                    <p>
                        Nuestra gama de cursos especializados incluye: 
                    </p>
                    <ul>
                        <li>
                            Cursos NDT Nivel I, II según ASNT SNT-TC-1A en RT, UT, MT, PT y VT. 
                            El cual busca otorgar una adecuada formación y certificación profesional, de acuerdo con la práctica recomendada SNT-TC-1A de la American Society for Nondestructive Testing a través de una compañía. 
                        </li>
                        <li>
                            Cursos de Inspector de Soldadura (CWI). 
                        </li>
                    </ul>
                    <p>
                        Todos nuestros cursos son impartidos por personal capacitado y con experiencia en cada uno de los métodos que imparte; además, son desarrollados de acuerdo con lo establecido en SNT-TC- 1A y todos nuestros temarios cumplen con lo establecido en CP-105, y avalados por un Nivel III ASNT en cada uno de los métodos que se imparten.
                    </p>
                    <p>
                        Las fechas y el lugar son adaptados de acuerdo con las necesidades del cliente, permitiendo acoplar las jornadas laborales y organizar al personal que se desea capacitar. 
                    </p>          
                
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
{% endblock content %}
{% block js %}

{% endblock js %}
