{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<style>


</style>

{% endblock css %}
{% block content %}
<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">Metalografia</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Metalografia</p>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Blog Start -->
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Blog Detail Start -->
            <div class="pb-3">
                <div class="">
                    <div id="slider">
                        <figure>
                            <img src="{% static 'img/Replicas/R1A.JPG' %}" alt="">
                            <img src="{% static 'img/Replicas/R1B.JPG' %}" alt="">
                            <img src="{% static 'img/Replicas/R1A.JPG' %}" alt="">
                        </figure>
                    </div>

                </div>
                <div class="bg-secondary mb-3" style="padding: 30px;">

                    <h4 class="font-weight-bold mb-3">Réplica metalográfica de campo (FMR)</h4>
                    <p>
                        FMR es una técnica de inspección metalúrgica no destructiva que se utiliza para evaluar las microestructuras de equipos de planta como calentadores, calderas, tuberías y reactores, a menudo un componente clave al realizar una evaluación de aptitud para el servicio. FMR es a menudo la opción menos disruptiva y rentable para el examen metalúrgico al tomar decisiones importantes de ejecución, reparación o reemplazo. 
                        La réplica se puede examinar en el campo con un microscopio óptico portátil o en el laboratorio. Este proceso da a nuestros ingenieros metalúrgicos la capacidad de examinar características microestructurales como el tamaño del grano, las grietas, los carburos y otros mecanismos de daño.
                    </p>                        
                    
                </div>
            </div>
            <!-- Blog Detail End -->

            <div class="pb-3">
                <div class="">
                    <div id="slider">
                        <figure>
                            <img src="{% static 'img/Replicas/R1A.JPG' %}" alt="">
                            <img src="{% static 'img/Replicas/R1B.JPG' %}" alt="">
                            <img src="{% static 'img/Replicas/R1A.JPG' %}" alt="">
                        </figure>
                    </div>

                </div>
                <div class="bg-secondary mb-3" style="padding: 30px;">

                    <h4 class="font-weight-bold mb-3">Examen macroscópico</h4>
                    <p>
                        Los estándares de calidad exigen secciones transversales de soldaduras a tope y de filete para las pruebas de calificación del procedimiento de soldadura y pueden requerirse para algunas pruebas de calificación del soldador para evaluar la calidad de las soldaduras.
                        El objetivo principal es la detección de defectos de soldadura (macro).
                    </p>
                    
                </div>
            </div>

        </div>

        <!-- Sidebar Start -->

        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->

{% endblock content %}
{% block js %}

{% endblock js %}
