{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
<style>
    #sync1 .item {
    
        padding: 3rem 2rem;
        margin: 5px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #sync2 .item {
    background: #C9C9C9;
    padding: 10px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    }
    #sync2 .item h1 {
    font-size: 18px;
    }
    #sync2 .current .item {
    background: #0c83e7;
    }
    .owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease;
    }
    .owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
    }

    #sync1.owl-theme {
    position: relative;
    }
    #sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    }
    #sync1.owl-theme .owl-prev {
    left: 10px;
    }
    #sync1.owl-theme .owl-next {
    right: 10px;
    }
    .text_item{
        padding: 16rem;
    }

</style>

{% endblock css %}
{% block content %}
<div id="sync1" class="owl-carousel owl-theme">
    <div class="item" style="background-image: url('{% static 'img/sliderghm1.jpg' %}');">
        <div class="text_item"></div>
    </div>
    <div class="item" style="background-image: url('{% static 'img/sliderghm2.jpg' %}');">
        <div class="text_item"></div>
    </div>
    <div class="item" style="background-image: url('{% static 'img/sliderghm3.jpg' %}');">
        <div class="text_item"></div>
    </div>
</div>
    <!-- Header Start -->
    <!-- <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container text-center py-5">
            <h1 class="text-primary mb-4">GHM</h1>
            <h1 class="text-white display-3 mb-5">INGENIEROS</h1>

        </div>
    </div> -->
    <!-- Header End -->
    
    <!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12  text-center sectionTopPadding">
               <h3 class="title tqa"><strong>TOTAL QUALITY. ASSURED.</strong></h3>
      <p>Aseguramiento Total de la Calidad, entregada de manera consistente, con Precisión, Constancia y Pasión, permitiendo a nuestros clientes avanzar con seguridad.</p>

            </div>
        </div>
        <div class="row">
                 <div class="col-md-12 text-center homeCategories">
                    <div class="secHeader">NUESTROS SERVICIOS</div>
                    <div class="row row-no-margin">
                        <div class="col-xs-12 text-left bkgFill">
                            <div class="list-group">
                                <div class="list-group-item text-nowrap expand">
                                    <a href="#soldadura" data-toggle="collapse">Escuela de Soldadura</a>
                                    <div id="soldadura" class="collapse homeCatDesc">
                                        Permitiendo a nuestros clientes identificar y mitigar riesgos intrínsecos en sus operaciones, cadenas de suministro y procesos comerciales.<br>
                                        <a href="{% url 'core:escuela-soldadura' %}">Leer más</a>
                                    </div>
                                </div>
                                <div class="list-group-item text-nowrap expand">
                                    <a href="#tratamiento" data-toggle="collapse">Tratamiento Termicos y Dureza</a>
                                    <div id="tratamiento" class="collapse homeCatDesc">
                                        Evaluando cómo los productos y servicios de los clientes cumplen y exceden los estándares de calidad, seguridad, sostenibilidad y rendimiento.<br>
                                        <a href="{% url 'core:tratamiento-termico-dureza' %}">Leer más</a>
                                    </div>
                                </div>
                                <div class="list-group-item text-nowrap expand">
                                    <a href="#pruebas-no-destructivas" data-toggle="collapse">Ensayos no Destructivas</a>
                                    <div id="pruebas-no-destructivas" class="collapse homeCatDesc">
                                        Validando las especificaciones, valor y seguridad de las materias primas, productos y activos de nuestros clientes.<br>
                                        <a href="{% url 'core:ensayos-no-destructivos' %}">Leer más</a>
                                    </div>
                                </div>
                                <div class="list-group-item text-nowrap expand">
                                    <a href="#capacitacion" data-toggle="collapse">Capacitacion y certificacion NDT AWS</a>
                                    <div id="capacitacion" class="collapse homeCatDesc">
                                        Confirmando oficialmente que los productos y servicios de nuestros clientes cumplen todos los estándares externos e internos.<br>
                                        <a href="{% url 'core:capacitacion-y-certificacion-ndt-aws' %}">Leer más</a>
                                    </div>
                                </div>
                                <div class="list-group-item text-nowrap expand">
                                    <a href="#calibracion" data-toggle="collapse">ELABORACIÓN Y CALIFICACIÓN DE PROCEDIMIENTOS</a>
                                    <div id="calibracion" class="collapse homeCatDesc">
                                        Confirmando oficialmente que los productos y servicios de nuestros clientes cumplen todos los estándares externos e internos.<br>
                                        <a href="{% url 'core:elaboracion-y-calificacion-procedimiento' %}">Leer más</a>
                                    </div>
                                </div>
                                <div class="list-group-item text-nowrap expand">
                                    <a href="#metalograficas" data-toggle="collapse">METALOGRAFÍA</a>
                                    <div id="metalograficas" class="collapse homeCatDesc">
                                        Confirmando oficialmente que los productos y servicios de nuestros clientes cumplen todos los estándares externos e internos.<br>
                                        <a href="{% url 'core:metalografia' %}">Leer más</a>
                                    </div>
                                </div>
                                <div class="list-group-item text-nowrap expand">
                                    <a href="#metalograficas" data-toggle="collapse">VERIFICACIÓN DE MATERIALES</a>
                                    <div id="metalograficas" class="collapse homeCatDesc">
                                        Confirmando oficialmente que los productos y servicios de nuestros clientes cumplen todos los estándares externos e internos.<br>
                                        <a href="{% url 'core:verificacion-de-materiales' %}">Leer más</a>
                                    </div>
                                </div>
                                <div class="list-group-item text-nowrap expand">
                                    <a href="#metalograficas" data-toggle="collapse">PRUEBA DE VACÍO EN SOLDADURAS</a>
                                    <div id="metalograficas" class="collapse homeCatDesc">
                                        Confirmando oficialmente que los productos y servicios de nuestros clientes cumplen todos los estándares externos e internos.<br>
                                        <a href="{% url 'core:prueba-de-vacio-soldaduras' %}">Leer más</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Modal -->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

{% endblock content %}
{% block js %}
<script>
    $(document).ready(function() {
        var sync1 = $("#sync1");
        sync1.owlCarousel({
        items: 1,
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true
      });
      $('.play').on('click', function() {
        owl.trigger('play.owl.autoplay', [1000])
      })
      $('.stop').on('click', function() {
        owl.trigger('stop.owl.autoplay')
      })
    })
  </script>
{% endblock js %}
