{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<style>


</style>

{% endblock css %}
{% block content %}
<div class="jumbotron jumbotron-fluid mb-0">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">Mision y Vision</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Mision y Vision</p>
        </div>
    </div>
</div>
<div class="container-fluid bg-secondary my-0">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 py-5 py-lg-0">
                <h1 class="mb-4">Mision</h1>
                <p class="mb-4">Aplicar métodos, supervisar proyectos, realizar procedimientos y tecnología de inspección sostenibles, confiables y altamente innovadores dentro de la industria. Dedicación al servicio al cliente, la calidad, la competencia técnica, la cooperación mutua y, sobre todo, la honestidad y el trato justo con todos.</p>

            </div>

        </div>
        <div class="row align-items-center">
            <div class="col-lg-7 py-5 py-lg-0">
                <h1 class="mb-4">Vision</h1>
                <p class="mb-4">Lograr la excelencia en todos los aspectos de la inspección y supervisión.
                    Completar todos nuestros proyectos de manera segura, conveniente y rentable.
                    Especializarnos en brindar soluciones innovadoras para dificiles problemas de inspección.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-7 py-5 py-lg-0">
                <h1 class="mb-4">Objetivo</h1>
                <p class="mb-4">Nuestro objetivo es proporcionar a nuestros clientes las mejores soluciones de inspección y supervisón para satisfacer sus necesidades y asegurarnos de que obtengan resultados de calidad.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}

{% endblock js %}
