{% extends "web/base.html" %}
{% load static %}
{% block social_facebook %}
  <meta property="og:url"           content="" />
  <meta property="og:type"          content="article" />
  <meta property="og:title"         content="" />
  <meta property="og:description"   content="" />
  <meta property="og:image"         content="" />
  <meta property="og:image:width"   content="1920"/>
  <meta property="og:image:height"   content="1079" />

{% endblock social_facebook %}

{% block css %}
<style>


</style>

{% endblock css %}
{% block content %}
   <!-- Header Start -->
   <div class="jumbotron jumbotron-fluid mb-5">
    <div class="container text-center py-5">
        <h1 class="text-white display-3">Nuestros Servicios</h1>
        <div class="d-inline-flex align-items-center text-white">
            <p class="m-0"><a class="text-white" href="">Home</a></p>
            <i class="fa fa-circle px-3"></i>
            <p class="m-0">Nuestros Servicios</p>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- Services Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <h6 class="text-primary text-uppercase font-weight-bold">Nuestros Servicios</h6>
            <h1 class="mb-4">Brindamos los mejores servicios</h1>
        </div>
        <div class="row pb-3">
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-flask text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">ENSAYOS NO DESTRUCTIVOS</h6>
                </div>
                <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                <a class="border-bottom text-decoration-none" href="ensayos-no-destructivas.html">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-flask text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">TRATAMIENTO TÉRMICO – DUREZA</h6>
                </div>
                <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                <a class="border-bottom text-decoration-none" href="tratamiento-termico-dureza.html">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-flask text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">ESCUELA DE SOLDADURA</h6>
                </div>
                <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                <a class="border-bottom text-decoration-none" href="escuela-soldadura.html">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-flask text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">ELABORACIÓN Y CALIFICACIÓN DE PROCEDIMIENTOS</h6>
                </div>
                <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                <a class="border-bottom text-decoration-none" href="elaboracion-y-calificacion-procedimiento.html">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-flask text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">METALOGRAFÍA</h6>
                </div>
                <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                <a class="border-bottom text-decoration-none" href="metalografia.html">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-flask text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">VERIFICACIÓN DE MATERIALES</h6>
                </div>
                <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                <a class="border-bottom text-decoration-none" href="verificacion-de-materiales.html">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-flask text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">PRUEBA DE VACÍO EN SOLDADURAS</h6>
                </div>
                <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                <a class="border-bottom text-decoration-none" href="prueba-de-vacio-soldaduras.html">Read More</a>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-5">
                <div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
                    <i class="fa fa-2x fa-flask text-dark pr-3"></i>
                    <h6 class="text-white font-weight-medium m-0">CAPACITACIÓN Y CERTIFICACIÓN NDT-AWS</h6>
                </div>
                <p>Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet diam sea est diam</p>
                <a class="border-bottom text-decoration-none" href="capacitacion-y-certificacion-ndt-aws.html">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
{% endblock content %}
{% block js %}

{% endblock js %}
